<h2 class="text-center">All our events</h2><%= link_to "New event", new_event_path, class: "btn btn-secondary m-5" %>
<% @events.each do |event| %>
  <%= link_to event_path(event), class:"text-decoration-none" do %>
    <div class="card-product">
       <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
       <div class="card-product-infos">
          <h2>Name: <%= event.name %></h2>
          <p>City: <%= event.location %></p>
          <h2>Places available: <%= event.places_available %></h2>
        </div>
    </div>
        
  <% end %>
<% end %>



